<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="DefaultStandardEndpoint" />
                <binding name="DefaultDuplexEndpoint" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/UiPath/service/agent"
                binding="netNamedPipeBinding" bindingConfiguration="DefaultStandardEndpoint"
                contract="RobotAPI.IUiPathRemoteContract" name="DefaultStandardEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/UiPath/service/duplex/agent"
                binding="netNamedPipeBinding" bindingConfiguration="DefaultDuplexEndpoint"
                contract="RobotAPI.IUiPathRemoteDuplexContract" name="DefaultDuplexEndpoint">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>